<div class="row">

  <div class="col-lg-4 col-md-6">
    <div class="project">
      <a href="/twitchtv-json-api" target="_blank">
        <div class="hovereffect text-center">

          <h2><i class="fa fa-star" aria-hidden="true"></i>Project<i class="fa fa-star" aria-hidden="true"></i></h2>
          <p class="project-type">freeCodeCamp</p>
          <i class="fa fa-twitch fa-3x" aria-hidden="true"></i>
          <p>Twitchtv JSON API</p>


          <div class="overlay">
             <p class="info">View Demo</p>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">Show list of Twitchtv channels, toggle between online and offline, and provide a filter search.</p>
        </div>
      </a>
      <div class="card-footer">
        <div class="float-left">
          <small class="text-muted">&lt;/&gt; JavaScript</small>
        </div>
        <small><a href="https://github.com/kyle-horne/twitchtv-json-api" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Repository<a/></small>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6">
    <div class="project">
      <a href="/wikipedia-viewer" target="_blank">
        <div class="hovereffect text-center">

          <h2><i class="fa fa-star" aria-hidden="true"></i>Project<i class="fa fa-star" aria-hidden="true"></i></h2>
          <p class="project-type">freeCodeCamp</p>
          <i class="fa fa-wikipedia-w fa-3x" aria-hidden="true"></i>
          <p>Wikipedia Viewer</p>


          <div class="overlay">
             <p class="info">View Demo</p>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">Display random Wikipedia article or retrieve list of articles based on search term.</p>
        </div>
      </a>
      <div class="card-footer">
        <div class="float-left">
          <small class="text-muted">&lt;/&gt; JavaScript</small>
        </div>
        <small><a href="https://github.com/kyle-horne/wikipedia-viewer" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Repository<a/></small>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6">
    <div class="project">
      <a href="/local-weather" target="_blank">
        <div class="hovereffect text-center">

          <h2><i class="fa fa-star" aria-hidden="true"></i>Project<i class="fa fa-star" aria-hidden="true"></i></h2>
          <p class="project-type">freeCodeCamp</p>
          <i class="fa fa-snowflake-o fa-3x" aria-hidden="true"></i>
          <p>Local Weather App</p>


          <div class="overlay">
             <p class="info">View Demo</p>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">Show local weather based on geolocation.</p>
        </div>
      </a>
      <div class="card-footer">
        <div class="float-left">
          <small class="text-muted">&lt;/&gt; HTML</small>
        </div>
        <small><a href="https://github.com/kyle-horne/local-weather" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Repository<a/></small>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6">
    <div class="project">
      <a href="/random-quote-machine" target="_blank">
        <div class="hovereffect text-center">

          <h2><i class="fa fa-star" aria-hidden="true"></i>Project<i class="fa fa-star" aria-hidden="true"></i></h2>
          <p class="project-type">freeCodeCamp</p>
          <i class="fa fa-quote-right fa-3x" aria-hidden="true"></i>
          <p class="project-name">Random Quote Machine</p>


          <div class="overlay">
             <p class="info">View Demo</p>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">Load random quote and tweet it.</p>
        </div>
      </a>
      <div class="card-footer">
        <div class="float-left">
          <small class="text-muted">&lt;/&gt; JavaScript</small>
        </div>
        <small><a href="https://github.com/kyle-horne/random-quote-machine" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Repository<a/></small>
      </div>
    </div>
  </div>


</div>
