<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Wikipedia Viewer</h4>
      <p class="card-text">Click to display random Wikipedia article or retrieve list of articles based on search term.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted"><a href="/wikipedia-viewer" target="_blank">View Demo</a></small>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Twitchtv JSON API</h4>
      <p class="card-text">Display a preset list of Twitchtv channels, toggle between online and offline, and provide a filter search.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted"><a href="/twitchtv-json-api" target="_blank">View Demo</a></small>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Local Weather App</h4>
      <p class="card-text">Display local weather based on geolocation and toggle between celsius and fahrenheit.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted"><a href="/local-weather" target="_blank">View Demo</a></small>
    </div>
  </div>
</div>

<h3>Other Projects</h3>

<ul>
  <li><a href="/random-quote-machine" target="_blank">Random Quote Machine</a></li>
</ul>
